body {
    font-family: Arial, sans-serif;
    background-color:#304b5e;
    color:#e9f1f7
    
}
header {
  background-color: rgba(51, 51, 51, 0.5); /* Making light grey background more transparent */
    color: white;
    padding: 10px 0;
    text-align: center;
    back
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    font-weight: bold;
  }
  .photo-rotator img {
    display: none;
  }
  .photo-rotator img:first-child {
    display: block;
  }
  .contact-links img {
    width: 32px;
    height: 32px;
    margin: 0 10px;
  }

  h6 {
    font-size: smaller;
  }